<ion-view cache-view="false" hide-nav-bar="true">
  <ion-header-bar class="bar-positive">
      <h1 class="title">财务近况</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
  	<div class="button-bar">
	  <a class="button button-clear" ng-class="{true:'button-assertive',false:'button-positive'}[ac1]" ng-click="state('m')">本月</a>
	  <a class="button button-clear" ng-class="{true:'button-assertive',false:'button-positive'}[ac2]" ng-click="state('s')">本季度</a>
	  <a class="button button-clear" ng-class="{true:'button-assertive',false:'button-positive'}[ac3]" ng-click="state('y')">本年度</a>
	  <a class="button button-clear" ng-class="{true:'button-assertive',false:'button-positive'}[ac4]" ng-click="state('all')">历史</a>
	</div>
  </div>
  <ion-content class="has-header has-subheader">
    <div id="main"></div>
  </ion-content>
</ion-view>
