<ion-tabs class="tabs-icon-top tabs-positive {{hideTabs}}">
  <ion-tab icon-off="ion-home" icon-on="ion-home" href="#/tab/dash" title="首页">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-social-skype" icon-on="ion-social-skype" href="#/tab/pay" title="支出">
    <ion-nav-view name="tab-pay"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/tab/chats" title="详情">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-android-contacts" icon-on="ion-android-contacts" href="#/tab/account" title="成员">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-ribbon-b" title="个人中心" icon-on="ion-ribbon-b" href="#/tab/center">
    <ion-nav-view name="tab-center"></ion-nav-view>
  </ion-tab>
</ion-tabs>
